@import url('https://fonts.goggleapis.com/css2?family=Poppins:wght@400;500;600;700&displays=swap');

*,
*:before,
*:after
body{

}

nav {
  height: 15vh;
  width: 100%;
  background: rgb(255, 206, 214);
  color:black;
  /* margin-bottom: 20px; */
}
.navitems {
  padding-left:40%;
  flex-wrap:unset;
  justify-content: space-between;
}

.navitems h2 {
  margin-top: 5px;
  padding-top: 5px;
  font: bold 30px/1 sans-serif;
  color:black;
}

.navitems button {
  width: 20%;
  height: 10vh;
  border-radius: 30px;
  background-image: linear-gradient(45deg ,#50eb6a, #f16f96);
  font: small-caps bold 20px/1 sans-serif;
  margin: auto 0px;
  padding: 15px 30px;
}

.userdatacontainer {
  width: 100%;
  height:fit-content;
  background-image: linear-gradient(-225deg, #26165c 0%, #3ae7df 29%, #FFF800 100%);
}
#main {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  /* padding-top: 10vh; */
}
.email{
  color: rgb(0, 0, 0);
}
.name{
  position: relative;
  text-align: center;
  color:white;
}
.userid{
  color: rgb(0, 0, 0);
}
.name:after{
  content: "";
  position: absolute;
  background-color: #7a6f72;
  height: 2px;
  width:0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
.name:hover {
  color: white;
}
.name:hover:after{
  width: 100%;
}

.avatar {
  border-radius: 50%;
}

.profile_cont {
  border-radius: 20%;
  background-color:coral;
  margin: 5px;
  padding: 10px;
  width: 25%;
  text-align: center;
  text-decoration-color: white;
  transition: transform ease 0.2s;
  opacity: 0.8;
  margin-top: 8vh;
}

.profile_cont:hover {
  transform: scale(1.1);
  opacity: 1;
}
.loader{
  height:30px;
  background: transparent;
  padding-left: 90%;
  border-color: transparent;
}

